# Файлы и директории, которые обычно не должны быть в репозитории Git

# Файлы созданные редакторами кода
*.pyc
*.pyo
*.pyd
__pycache__
*/__pycache__/

# Файлы настроек
.env

# Виртуальные окружения Python
venv/
env/

# Файлы локальной базы данных

# Статические файлы и медиафайлы
staticfiles/
media/

# Файлы секретных ключей и других конфиденциальных данных
*.secret

# Файлы логов
logs/
*.log

# Директория сборки проекта
build/

# Кэш и временные файлы
*.cache
*.swp
*.swo
*.tmp

# Файлы проекта для IDE или редактора кода
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Компилированные файлы JavaScript
*.js.map

# Файлы для тестирования
.coverage
.tox
.pytest_cache

# Файлы миграций базы данных


# Файлы зависимостей и виртуального окружения
pip-selfcheck.json